<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TalksUp</title>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'talksupapp/main.css' %}"
    />
  </head>
  <body>
    {% if user.is_authenticated %}
    <nav class="stroke">
      <ul>
        <li><a href="{% url 'dashboard' %}">Inicio</a></li>
        <li><a href="{% url 'podcasts' %}">Podcasts</a></li>
        <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
      </ul>
    </nav>
    {% endif %} {% block content %} {% endblock content %}
  </body>
</html>
