{% extends 'talksupapp/base.html' %} {% block content %}

<div class="login-super">
  <div class="login-form">
    <form action="{% url 'login' %}" type="submit" method="post">
      {% csrf_token %}
      <h1>Login</h1>
      <div class="content">
        <div class="input-field">
          <input type="email" placeholder="Email" autocomplete="nope" />
        </div>
        <div class="input-field">
          <input
            type="password"
            placeholder="Password"
            autocomplete="new-password"
          />
        </div>
      </div>
      <div class="action">
        <button type="submit">Sign in</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
