{% extends 'talksupapp/base.html' %} {% block content %}{% load static %}
<div class="new-container">
  <div class="login-form">
    <form action="{% url 'newPodcast' %}" type="submit" method="post">
      {% csrf_token %}
      <h1>Nuevo podcast</h1>
      {% if mensaje %}
      <h3 class="error">{{ mensaje }}</h3>
      {% endif %}
      <div class="content">
        <div class="input-field">
          <label>Nombre del podcast</label>
          <input type="text" name="podName" required maxlength="1000" />
        </div>
        <div class="input-field">
          <label>Descripción</label>
          <input type="text" name="podDescription" required maxlength="1000" />
        </div>
        <div class="input-field">
          <label>URL de la imagen cover</label>
          <input type="text" name="podURL" required maxlength="1000" />
        </div>
        <div class="input-field">
          <label>Cantidad episodios</label>
          <input type="number" name="podEpisodes" required />
        </div>
        <div class="input-field">
          <label>Fecha de lanzamiento</label>
          <input type="date" name="podReleaseDate" required />
        </div>
      </div>
      <div class="action">
        <button type="submit">Guardar</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
